* {
    font-family: 'Quicksand', sans-serif; font-family: 'Roboto', sans-serif;
}
:root {
    --azul-fuerte: #170655;
    --naranja: orange;
    --azul-claro:#2e75c7;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
}
main article {
    color: #d2d2d2;
    transition: all .2s linear;
    scroll-behavior: smooth;
}
body {
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    font-size: 14px;
}
.section1 {
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;background: var(--azul-fuerte);
}
.title-section1 {
    text-align: center;
    padding: 6px;
    color: var(--azul-claro);
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 23px;
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;
    background: var(--azul-fuerte);
}
.nosotros-general {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    background-image: url(../img/transferencia-bancaria-demora.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-bottom: 12px;
}
.nosotros-servicios {
    display: grid;
    justify-content: end;
    width: 40%;
    margin: 0 auto;
    gap: 10px;
}
.nosotros {
    display: grid;
    padding: 6px;
    background: #1a1a1ce7;
    margin: 2px;
    border-radius: 7px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.481);
    font-size: 12.5px;
    width: 100%;
    color: #fff;
    padding-top: 10px;
}
.container-icon {
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.481);
    text-align: initial;
    margin: 0 auto;
}
.nosotros img {
    text-align: center;
    width: 50px;
    height: 50px;
}
.nosotros h3 {
    color: var(--azul-claro);
}
.container-divisas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #DFF5FF;
}
.img-divisas {
    width: 100%; 
    height: 200px;
    background-image: url(../img/cambios1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: start;
    background-position: start;
}
.info-divisas {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 6px;
    margin: 10px;
}
.info-divisas h2 {
    text-transform: uppercase;
    font-size: 21px;
    color: var(--azul-claro);
    text-align: center;
    border-bottom: 2px dashed var(--azul-claro);
    font-family: "Lugrasimo", cursive;
    font-weight: 400;
    font-style: normal;  
}
.info-divisas ul {
    display: grid;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.info-divisas li {
    padding: 4px;
}
.info-divisas li span {
    font-weight: bold;
    color: var(--naranja);
}
.section2-general {
    background: var(--azul-claro);
}
.section2 {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/Map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.info-section2 {
    padding: 10px;
    font-size: 18px;
}
.img-section1 {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background: #0000007b;
    color: #DFF5FF;
}
.img-section1 h1 {
    font-size: 30px;
    text-align: center;
    color: var(--naranja);
}
.img-section1 img {
    display: flex;
    width: 320px;
    height: 320px;
    object-fit: contain;
    margin: 0 auto;
}
.img-section1 h2 {
    text-align: center;
    font-size: 17px;
    color: #FF6500;
}
.img-section2 {
    background-image: url(../img/3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
}
.gmt-container {
    
}
.gmt-container h2 {
    text-align: center;
    padding: 10px;
    font-size: 19px;
    background: #0000007b;
    color: var(--naranja);
    border-bottom: 2px dashed var(--naranja);
}
.gmt-general {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    font-size: 10px;
    background:  #0000007b;
}
.gmt1 {
    display: grid;
    align-items: center;
    justify-content: center;
    color: red;
}
.gmt1 a:hover {
    color: #000;
}
.gmt1 a {
    color: #fff;
}
.gmt1 h4 {
    color: var(--naranja);
}
/* Suscribirse end*/
@media screen  and (max-width: 1200px) {
    .section1 {
        grid-template-columns: 1fr;
    }
    .section2 {
        width: 100%;
    }
}
@media screen and (max-width: 1000px) {
    .redes-sociales {
        width: 100%;
        display: flex;
        justify-content: center;
        left: 0;
        bottom: 10px;
    }
    .header .categorias a {
        margin-bottom: 30px;
    }
    .nosotros-servicios {
        width: 80%;
    }
}
@media screen and (max-width: 800px) {
    .title-mision {
        font-size: 26px;
    }
    .nosotros-servicios {
        width: 96%;
        justify-content: center;
        align-items: center;
    }
    .section2 {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .img-section1, .img-section2 {
        width: 100%;
        background-size: contain;
    }
    .container-divisas {
        grid-template-columns:  1fr;

    }
}